<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacation Booking</title>

    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" type = "image/png" href="images/vacation-icon.png">
</head>
<body>
    <div class="container">
        <header>
            <h1>Thank you for your request!</h1>
        </header>
    </div>
    <footer> <a href="https://github.com/Akaiokaa/vacation-booking-form"> GitHub Repository: https://github.com/Akaiokaa/vacation-booking-form</a></footer>
    <script src="js/vacation.js"></script>
</body>
</html>