*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Calibri,'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif ;
}
body,html{
    background-color: blue;
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
footer{
    text-align: center;
    width: 100%;
}
header{
    height: 125px;
    background-image: url('../images/dream-vacation.jpeg');
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center -100px;
    background-position: left -125px;
    background-image: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url('../images/dream-vacation.jpeg');
}
.container{
    overflow: hidden;
    border-radius: 5px;
    margin-top: 3rem;
    width: 500px;
    height: auto;
    background-color: white;
}
form {
    font-size: small;
}

form{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
form > *{
   padding-top: 10px;
}
select{
    border: none;
    background-color: white;
    padding-left: 10px;
}
.two-section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.two-section div input{
    padding-left: 10px;
    padding-top: 10px;
}
input[type="text"],
input[type="date"] {
    border: none;
    box-sizing: border-box;
    outline: none;
}


button{
    color: white;
    margin: 0 35%;
    padding: 8px 0px;
    border: none;
    text-decoration: none;
    background-color: blue;
    border-radius: 15px;
    margin-bottom: 15px;
    background: linear-gradient(270deg,  rgb(19, 35, 179),blue);
}
h1{
    padding: auto 0;
    color: white;
}
footer{
    color: white;
    background-color: rgb(19, 35, 179);
}
a{
    text-decoration: none;
    color: white;
}
.error{
    color: red;
    display: none;
}
